[submodule "server"]
	path = server
	url = git@github.com:modoolar/server.git
	branch = 11.0
[submodule "web"]
	path = web
	url = git@github.com:modoolar/web.git
	branch = 11.0
[submodule "project"]
	path = project
	url = git@github.com:modoolar/project.git
	branch = 11.0
[submodule "project-agile"]
	path = project-agile
	url = git@github.com:modoolar/project-agile.git
	branch = 11.0
[submodule "scrummer"]
	path = scrummer
	url = git@github.com:modoolar/scrummer.git
	branch = 11.0
[submodule "oca-project"]
	path = oca-project
	url = git@github.com:oca/project.git
	branch = 11.0
